/* наша HTML таблица */
table.sort{
    border-spacing:0.1em;
    margin-bottom:1em;
    margin-top:1em
    }
    
  
    table.sort td{
    border:1px solid #CCCCCC;
    padding:0.3em 1em
    }
    
    
    table.sort thead td{
    cursor:pointer;
    cursor:hand;
    font-weight:bold;
    text-align:center;
    vertical-align:middle
    }
    
 
    table.sort thead td.curcol{
    background-color:#999999;
    color:#FFFFFF
    }
    
    table.sort tr:hover {
        background-color: rgba(0,0,0,0.2);
        cursor: pointer;
    }


    #modal_form {
        width: 300px; 
        height: 300px; 
        border-radius: 5px;
        border: 3px #000 solid;
        background: #fff;
        position: fixed; 
        top: 45%; 
        left: 50%; 
        margin-top: -150px;
        margin-left: -150px; 
        display: none;
        opacity: 0; 
        z-index: 5;
        padding: 20px 10px;
    }
   
    #modal_form #modal_close {
        width: 21px;
        height: 21px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        display: block;
    }
   
    #overlay {
        z-index:3; 
        position:fixed;
        background-color:#000; 
        opacity:0.8; 
        -moz-opacity:0.8; 
        filter:alpha(opacity=80);
        width:100%; 
        height:100%; 
        top:0; 
        left:0;
        cursor:pointer;
        display:none; 
    }