<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="assets/scripts.js"></script>
    <script src="assets/sorts.js"></script>
    <title>Sort table</title>
</head>
<body>

     <table class="sort" align="center" id="table">
        <thead>
        <tr>
        <td>ID</td>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Почта</td>
        <td>Телефон</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(info, index) in info">
        <td>{{ info.id }}</td>
        <td>{{ info.firstName }}</td>
        <td>{{ info.lastName }}</td>
        <td>{{ info.email }}</td>
        <td>{{ info.phone }}</td>
        </tr>
        
        </tbody>
        </table>
        
        
</body>
</html>